---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "Контакты48 — Neurotricks";
title: 'Контакты22'
---

<BaseLayout title={title}>
  <h1 class="text-3xl font-semibold mb-4 text-center">Связаться со мной</h1>
  <ul class="space-y-2 text-center">
    <li>
      Telegram:
      <a href="https://t.me/neurotricks" class="text-blue-400 hover:underline">
        @neurotricks
      </a>
    </li>
  </ul>
</BaseLayout>
